* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  height: auto;
  position: relative;
}
a,
a:hover {
  color: #000;
  text-decoration: none !important;
}
li {
  list-style-type: none;
}
body::-webkit-scrollbar-track,
body::-webkit-scrollbar,
body::-webkit-scrollbar-thumb {
  display: none;
}
.nav-link:hover {
  color: orange;
}
.nav-fix {
  top: 0;
  width: 100%;
  z-index: 999 !important;
  display: flex !important;
  flex-direction: column !important;
}
.style {
  opacity: 1;
  display: inline-block;
  margin: 10px !important;
  padding: 10px 20px !important;
  font-weight: bolder;
  color: #000;
  font-size: 1em !important;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
}
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: orange;
  background: none;
}
.fas {
  visibility: hidden;
}
.title-section h2 {
  padding-left: 30px;
  border-left: 4px solid orange;
  display: inline-block;
  color: #000;
}

.title-section.text-center h2:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  content: "";
}
.address{
    font-size: 16px;
    font-weight: 400;
    font-style: italic;
    line-height: 28px;
}
.footer-head{
    color:orange
}
.footer-links:hover{
    color:orange;
    transition: all 0.3s ease-in;
}
.orange{
  font-size: 24px;
  color: orange;
  letter-spacing: 1px;
}
.about-div{
  line-height: 28px;
}